parametersSchema:
    greenlight: structure([
        configFiles: listOf(string())
    ])

parameters:
    greenlight:
        configFiles: []

rules:
    - Greenlight\PhpStan\AttributeArgumentRule
    - Greenlight\PhpStan\DataProviderSignatureRule
    - Greenlight\PhpStan\LifecycleMethodRule
    - Greenlight\PhpStan\TestAttributePlacementRule
    - Greenlight\PhpStan\TestMethodRule
    - Greenlight\PhpStan\ToThrowMessageRule

services:
    -
        class: Greenlight\PhpStan\ExpectationMethodsExtension
        arguments:
            configFiles: %greenlight.configFiles%
        tags:
            - phpstan.broker.methodsClassReflectionExtension
