parametersSchema:
    greenlight: structure([
        configFiles: listOf(string())
    ])

parameters:
    greenlight:
        configFiles: []

rules:
    - Greenlight\PhpStan\DataProviderSignatureRule
    - Greenlight\PhpStan\LifecycleMethodRule
    - Greenlight\PhpStan\TestMethodRule
    - Greenlight\PhpStan\ToThrowMessageRule

services:
    greenlight.matcherMapProvider:
        class: Greenlight\PhpStan\MatcherMapProvider
        arguments:
            configFiles: %greenlight.configFiles%
    greenlight.expectationMethodsExtension:
        class: Greenlight\PhpStan\ExpectationMethodsExtension
        arguments:
            matcherMap: @greenlight.matcherMapProvider
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    greenlight.extensionMatcherSubjectRule:
        class: Greenlight\PhpStan\ExtensionMatcherSubjectRule
        arguments:
            matcherMap: @greenlight.matcherMapProvider
        tags:
            - phpstan.rules.rule
