includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - extension.neon

parameters:
    level: max
    scanFiles:
        - packages/infection-adapter/src/CoverageXmlWriter.php
    paths:
        - src
        - tests
        - tools
    greenlight:
        configFiles:
            - tests/Fixture/PhpStanExtension/greenlight.php
